# Supabase Config
VITE_SUPABASE_URL=your_project_url
VITE_SUPABASE_PUBLISHABLE_KEY=your_public_key

# Database local para CLI
SUPABASE_DB_URL=postgresql://postgres:postgres@localhost:54322/postgres

# Notas
# Use este arquivo apenas como template.
# Nao preencha este arquivo com valores reais.
